@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}
.ok{
    height: 600px;
    width: 500px;
    background: url("/download.jpg");
    background-position: center;
    background-size: cover;
}
.okok{
    background: url("/ok.jpg");
    background-position: center;
    background-size: cover;
}
.hehe{
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}